<figure class="float-left">
  <img alt="Lion President Nancy" src="/paperclip_assets/users/000/000/016/original/NancyJ.jpg?1346821973&quot;" style="width: 200px; height: 200px;"/>
  <figcaption>Lion President Nancy</figcaption>
</figure>
<h4>
  <i>NANCY&#39;S NOTEWORTHY NEWS</i></h4>
<p>
  Dear Fellow Lions,</p>
<p>
  I wish to thank the McGaheysville-Massanutten Lions Club for their vote of confidence in electing me President for the
  2012-2013 club year.</p>
<p>
  As most of you know, this is my second term as your President. I was elected your fourth president and will now be
  serving as your twenty first president. We have all seen many changes in our Club since my first term. We have over
  doubled in size. Our service to those less fortunate has expanded ten fold. Our money making projects in the olden
  days consisted of car washes, bake sale, and raffles while now we have Bingo, a Golf Tournament and the Cruise-In. In
  the last ten years our Club has donated almost one half million dollars within our community, state and
  internationally. I would say we are a valuable, growing and successful Club.</p>
<p>
  Over the past twenty years we have many Presidents and Lions members to thank for our forward moving initiatives. One
  President we need to thank is our Immediate Past President Bob Bloomquist. Lion Bob has also served his second term as
  President of our Club and has given selflessly of his time and talents to keep the Club moving in an onward and upward
  direction. Lion Bob we salute you for your incredible year..</p>
<p>
  I need to thank you for also giving me a responsible and seasoned Board of Directors to direct our Club as we carry on
  our mission of &ldquo;We Serve&rdquo; during this next Club year.</p>
<p>
  Being a member of a Lions Club for twenty years, and living and serving with PDG Grover has made my commitment to
  Lions a great part of my life. Even before my membership, Lions were a big part of my family. My dad was a Lion and my
  mother was a Lioness. You see, before I joined the Lions Club, women were not invited to become members of a Club,
  however in 1992 this rule changed, and my daughter and I joined the Griffith Lions Club as its first female members.
  This was in Indiana, so it was very important to me that I transfer my membership to the McGaheysville-Massanutten
  Lions Club as soon as we moved to the mountain. I am proud to be a Lion and my commitment to the organization is an
  important part of my life.</p>
<p>
  As we go forth into our next twenty years, I look forward to building and, growing our Club to become all that it can
  be and with your help we will achieve this goal.</p>
<p>
  Your Board has been working hard to get the ball rolling for the next Club year. We are ready to present: Our Planned
  Years Program, Committee Appointments, Budget and Reporting structure to the Club at our &ldquo;Ice Cream Social&rdquo;
  on July 17, 2012. We are off and running &ldquo;In a World of Service&rdquo; which is the theme of our newly elected
  Lions International President, Wayne A. Madden from the State of Indiana in the great U.S.A.</p>
<p>
  Yours-in-Lionism,</p>
<p class="clearfix">
  Lion Nancy</p>
<hr />

<figure class="float-right">
  <img alt="President Bob Receives County Resolution" src="/ckeditor_assets/pictures/99/content_res-from-the-boss.jpg?1359582416"/>
  <figcaption>President Bob Receives County Resolution</figcaption>
</figure>

<h4>
  COUNTY SUPERVISORS HONOR THE MCGAHEYSVILLE-MASSANUTTEN LIONS CLUB</h4>
<p>
  At their Board Meeting of June 13, 2012, the Rockingham County Board of Supervisors honored with a formal Resolution
  the McGaheysville-Massanutten Lions Club for serving the community for 20 years. Lions Club President Bob B. received
  the Resolution after giving the Supervisors a short presentation summarizing our 20 years of service -- Lion Bob B. is
  shown on the right receiving the Resolution from Supervisors Breeden and Cuevas. In part, the Resolution states:</p>
<blockquote>
  &quot;<em>NOW, THEREFORE, BE IT RESOLVED, by the Rockingham County Board of Supervisors, acting through its Chairman
  and on behalf of the citizens of the County, that we celebrate the 20th Anniversary of the McGaheysville-Massanutten
  Lions Club, and the Board invites all citizens to take time to honor the Lions Club members for their tireless efforts
  and dedication in supporting the betterment of our community, and applaud them for their volunteerism and investment
  in making Rockingham County a better place to live and work</em>&quot;.
</blockquote>
<p class="clearfix">
  It was a proud day for our Club receiving this high honor. The Resolution will soon be mounted in the MPOA Basement
  for everyone to see.</p>
<hr/>
<figure class="float-left">
  <img alt="Lion of the year Pat N." src="/ckeditor_assets/pictures/100/content_loty-pat.jpg?1359582450"/>
  <figcaption>Lion of the year Pat N.</figcaption>
</figure>
<h4>
  LION OF THE YEAR - LION PAT N.</h4>
<p class="clearfix">
  During the McGaheysville-Massanutten Lions Club Charter Night/Installation Banquet, Lion Pat N. was named &ldquo;Lion
  of the Year&rdquo; by Club President Lion Bob B. Lion Bob recognized Lion Pat for her unfailing time and effort given
  to the club during the past year while serving as Lion Tamer. Lion Pat is a Past President of the club and has
  established her expertise and ideas to promote the club during the past several years of her membership.
  Congratulations and good luck from a grateful club for your years of service.</p>
<hr/>
<figure class="float-right">
  <img alt="MJF Dr. Robert Mc." src="/ckeditor_assets/pictures/101/content_cmjf-drbob.jpg?1359582486" />
  <figcaption>MJF Dr. Robert Mc.</figcaption>
</figure>
<h4>
  COMMUNITY MELVIN JONES FELLOW - DR. ROBERT Mc.</h4>
<p class="clearfix">
  Dr. Robert Mc. has been a partner in service with the McGaheysville-Massanutten Lions Club for many years. It is with
  his assistance that we are been able to provide low cost eye examinations for needy people. It is through his
  commitment to humanitarian causes that we presented this award to him.</p>
<hr/>
<figure class="float-left">
  <img alt="MJF Randy K." src="/ckeditor_assets/pictures/102/content_cmjf-randy.jpg?1359582512" />
  <figcaption>MJF Randy K.</figcaption>
</figure>
<h4>
  COMMUNITY MELVIN JONES FELLOW - RANDY K.</h4>
<p class="clearfix">
  Randy K., Manager Elkton Food Lion, was a recipient of a partner&rsquo;s in service Melvin Jones Fellowship. Food Lion
  Corporation, through Randy&rsquo;s efforts, have provided staples for our Christmas in January Project. This program
  has provided food for over five thousand people during the last four years the program has been in existence. Without
  this help it would have been very difficult, if not impossible, for the McGaheysville-Massanutten Lions Club to make
  this humanitarian service available to approved needy residents in our local area.</p>
<hr/>
<h4>
  COMMUNITY MELVIN JONES FELLOW - MAK K.</h4>
<p>
  Mak K., Vice President of Great Eastern Resort Management, received this award because of the long and successful
  partnership between Great Eastern and the McGaheysville-Massanutten Lions Club almost from the beginning or our
  existence. Without Mak&rsquo;s help the McGaheysville-Massanutten Lions Club would not have been able to accomplish
  all the projects that we are doing today. His help in getting the Bingo operation going, making the golf outing and
  its sponsorship successful, and the cruise-in working are just part of what he has, through Great Eastern Resort,
  done.</p>
<hr class="clearfix"/>
<figure class="float-right">
  <img alt="MJF Lion Ken K." src="/ckeditor_assets/pictures/103/content_mjf-ken.jpg?1359582536" />
  <figcaption>MJF Lion Ken K.</figcaption>
</figure>
<h4>
  CLUB MELVIN JONES FELLOW - LION KEN K.</h4>
<p>
  Lion Ken K. is a fairly new Lion, who during his years of service has accomplished much to further our Club. Beginning
  by working on many different committees, this Lion rose to become the nineteenth President of the
  McGaheysville-Massanutten Lions Club. Whenever this Lion has been asked to donate his time and efforts, he has
  responded &ldquo;I can do that&rdquo;. The area he most recently is known for is serving as President of The Lions of
  Massanutten Foundation.</p>
<hr class="clearfix"/>
<figure class="float-left">
  <img alt="Lion Olga H." src="/ckeditor_assets/pictures/104/content_mjfolga.jpg?1359582557" />
  <figcaption>Lion Olga H.</figcaption>
</figure>
<h4>
  CLUB MELVIN JONES FELLOW - LION OLGA H.</h4>
<p class="clearfix">
  Lion Olga H. has served the McGaheysville-Massanutten Lions Club in a very distinct way. It is her expertise and
  commitment to our Lions Club Website that provided our Lions Club with a LCI International Website Award. She spent
  many hours providing us with a website with over one hundred pages while making it interesting, informative and
  relevant. As Co-Webmaster of our Site, she is dedicated to producing the most updated website possible.</p>
<hr />
<figure class="float-right">
  <img alt="Lion Gene H." src="/ckeditor_assets/pictures/105/content_mjfgene.jpg?1359582582" />
  <figcaption>Lion Gene H.</figcaption>
</figure>
<h4>
  CLUB MELVIN JONES FELLOW - LION GENE H.</h4>
<p class="clearfix">
  Lion Gene H. has served the the McGaheysville-Massanutten Lions Club by also working on the website. Without his
  guidance and determination to make a great web site, our efforts would never have been recognized by Lions Clubs
  international. It was through his research and devotion that we were able to compile a Lions Club Presentation for our
  local Governments regarding our twenty years of service. As a member of the Newsletter Committee, his help on this
  project insured that the Newsletter was compatible with all types of computers.</p>
<hr/>
<h4>
  CLUB MELVIN JONES FELLOW - PAUL K.</h4>
<p>
  PAUL K. served as the Third President of the McGaheysville-Massanutten Lions Club and aided our Club with merit and
  distinction for several years. Paul now resides in Colonial Beach, VA.</p>
<hr/>
<h4>
  CLUB MELVIN JONES FELLOW - LION STEVE K.</h4>
<p>
  LION STEVE K. has served the McGaheysville-Massanutten Lions Club in many and various ways during his short membership
  in our Club. His expertise in electronics has been a boon to our Club in the Bingo area. One of the most important
  efforts he made was to set up the Grants Program on a computerized detailed basis. This Lion is also directly
  responsible for our &ldquo;Car Cruse-In Program&rdquo;.</p>
<hr/>
<figure class="float-left">
  <img alt="Lion Bob B." src="/ckeditor_assets/pictures/106/content_lovf-bob.jpg?1359582615" />
  <figcaption>Lion Bob B.</figcaption>
</figure>
<h4>
  LOVF HAMANTARIAN AWARD - LION BOB B.</h4>
<p class="clearfix">
  The McGaheysville-Massanutten Lions Club, at the installation banquet, presented the Virginia Distinguished
  Humanitarian Award to Lion Bob B. to recognize his outstanding commitment and dedication to the idea of rendering
  humanitarian service. The Virginia Distinguished Humanitarian Award is the highest form of recognition conferred by
  the Lions of Virginia through the Lions of Virginia Foundation. The Lions of Virginia Foundation is the charitable arm
  of the Lions of Virginia, responding to disaster relief, technical training and humanitarian needs. It is through the
  dedication of people like Lion Bob, who reach out to help their fellow man, that this world is made a better place in
  which to live. Lion Bob, your Club thanks you for your commitment to Lionism.</p>
<hr />

<figure class="float-right">
  <img alt="Lion Grover J." src="/ckeditor_assets/pictures/107/content_eegill-grover.jpg?1359582639" />
  <figcaption>Lion Grover J.</figcaption>
</figure>
<h4>
  ELBYRNE G. GILL FELLOW - LION GROVER J.</h4>
<p class="clearfix">
  The Elbyrne G. Gill award is presented by the Virginia Lions Hearing Foundation to a person in recognition of
  outstanding commitment and dedication to the ideal of rendering humanitarian service. This year the award was
  presented to PDG Grover J. in recognition of his service to the Hearing Foundation and continued outstanding
  commitment to Lions Clubs as well as his community, state and nation. PDG Grover has served on the Virginia Lions
  Hearing Foundation for 9 years. He served as Secretary of the organization for six years. The first three years of his
  service were as District 24-C Hearing Chairman.</p>
<hr />
<h4>
  PRESIDENTIAL AWARD - LION J.C. P.</h4>
<p>
  Lion President Bob B. presented a Presidential Award to Lion J.C. P. Lion J.C. was honored for his dedication to
  serving our Club in many capacities. During this past year, Lion J.C. served as Donation Chairman for the Club&rsquo;s
  Annual Golf Tournament, and a record amount was raised through his efforts and those of his committee. Lion J.C. has
  willingly served on many committees during his years in Lionism. He is also a Past President and gives of his time and
  efforts to make the Club better with each year.</p>
<hr class="clearfix"/>
<figure class="txt-float-left">
  <img alt="Lion Ed B." src="/ckeditor_assets/pictures/108/content_pres-award-ed.jpg?1359582664" />
  <figcaption>Lion Ed B.</figcaption>
</figure>
<h4>
  PRESIDENTIAL AWARD - LION ED B.</h4>
<p class="clearfix">
  Lion President Bob B. presented a Presidential Award to Lion Ed B, who was honored for his willingness to assist with
  any project or activity for which he was asked to serve. Lion Ed&rsquo;s response to &ldquo;Can you help?&rdquo; is
  always &ldquo;Yes&rdquo;. He quietly serves his Club in many ways that others do not know require attention. His
  latest service was Food Chairman for the Annual Golf Tournament, consisting of serving Breakfast and Lunch on the day
  of the Tournament. This was a huge job and was done successfully carried out by this amazing Lion.</p>
<hr />
<h4>
  LIONS CLUB PRESENTATION TO MASSANUTTEN PROPERTY OWNERS ASSOCIATION</h4>
<p>
  A fifteen minute PowerPoint Presentation entitled &ldquo;<em>McGaheysville-Massanutten Lions Club -- Celebrating
  Twenty Years of Community Service</em>&quot; has been created to mark Our Club&#39;s 20th Anniversary. Lion Bob B.
  submitted a formal request to the Massanutten Property Owners association&nbsp;to give this presentation&nbsp;at the
  MPOA&nbsp;board meeting to increase awareness of Our Club&#39;s efforts over the last 20 years. The request have been
  approved and we have been placed on their agenda the MPOA Board Meeting on July 21st at 9:00 P.M. in the MPOA
  basement. Please make time to attend&nbsp;this presentation to support our Club.</p>
<hr/>
<h4>
  16th ANNUAL GOLF TOURNAMENT A SUCCESS</h4>
<p>
  The 16th Annual Golf Tournament held on June 9, 2012 at Great Eastern&#39;s Mountain Greens Golf Course was a huge
  success.&nbsp; This year&#39;s tournament supported three terrific local community service groups who help those who
  are less fortunate. The entire net proceeds raised of almost $12,000.00&nbsp;for the tournament will be donated
  equally to: Elkton Family &amp; Children&#39;s Medical Clinic, Elkton Area United Services, Harrisonburg-Rockingham
  Dental Clinic. We thank you for your efforts that made this possible.</p>
<hr/>
<h4>
  CULTURAL ACTIVITIES</h4>
<p>
  President Lion Nancy J. has asked me to chair a Culture Committee to draw attention to local cultural activities which
  the Club members might like to attend and support. I will keep these fairly local to start with, and if anyone has
  other items I might not know about, wish to hear about events farther afield, suggestions in general or wish to help
  with this committee, please let me know ... Lion Liz B.</p>
<h5>
  JULY EVENTS</h5>
<p>
  <em>Harrisonburg </em></p>
<p>
  Valley Fourth &ndash; 9 a.m. to 9:30 p.m. &ndash; various locations and activities downtown.
  <a href="http://www.downtownharrisonburg.org/valley4th">www.downtownharrisonburg.org/valley4th </a></p>
<p>
  Fridays on the Square, an annual concert and film series - 432-8922 or
  <a href="http://www.fridaysonthesquare.com">http://www.fridaysonthesquare.com</a><br/>
  &nbsp; - July 6 Fatty Lumpkin &amp; the Hogs. Bring dinner for picnic at 6 &ndash; music follows at 7.<br/>
  &nbsp; - July 13 the best of the Super Gr8 Film Festival. Bring dinner for picnic 7. Entertainment starts at 8.<br/>
  &nbsp; - July 20 The Michael Clem Trio (JMU alum folk-rock)<br/>
  &nbsp; - July 27 The movie The Help.</p>
<p>
  Celebrate America! Patriotic/pops concert featuring Shenandoah Valley Choral Society and Harrisonburg-Rockingham
  Concert Band &ndash;&nbsp; <a href="http://www.singshenandoah.com">http://www.singshenandoah.com/</a></p>
<p>
  &nbsp; - July 3 at 7:30 in Harrisonburg High School auditorium - $12.</p>
<p>
  Fundfest 2012 sponsored by Rockingham/Harrisonburg SPCA at the Turner Pavilion on South Liberty Street -- 6-8:30 - $2.<br/>
  &nbsp; - July 11 Hackens Boys<br/>
  &nbsp; - July 25 Everyday People</p>
<p>
  JMU Children&rsquo;s Playshop in the Studio Theatre of the Forbes Center for the Performing Arts at JMU &ndash;
  568-7000 or&nbsp;<a href="http://www.jmu.edu/JMU">http://www.jmu.edu/JMU</a><br/>
  &nbsp; &ndash; The Velveteen Rabbit at 7:30 on July 19-20 and 26-27, at 11 a.m. and 4 p.m. on July 21 and July 28, and
  at 4 p.m. on July 22 and July 29</p>
<p>
  Local Bluegrass Music Jam Sessions held weekly at various locations and various dates &ndash; 209-3540 or
  <a href="http://www.shenandoahmusictrail.com">http://www.shenandoahmusictrail.com/</a></p>
<p>
  <em>Massanutten </em></p>
<p>
  Summer Jam &ndash; July 3 5:30 to 10 p.m. $25 at gate.</p>
<p>
  <em>Winchester </em></p>
<p>
  Shenandoah Summer Music Theatre, Shenandoah University, Winchester -- 540 665-4569 or
  <a href="http://www.shenandoahSMT.com" target="_blank">http://www.shenandoahsmt.com/</a>.<br/>
  &nbsp; - 9-5 The Musical &ndash; thru July 8th at various times<br/>
  &nbsp; - Grease -July 11-22<br/>
  &nbsp; - Peter Pan &ndash; July 25-August 5.</p>
<p>
  <em>Staunton</em></p>
<p>
  American Shakespeare Center &ndash; 540 851-1733
  or&nbsp;<a href="http://www.americanshakespearecenter.com">http://www.americanshakespearecenter.com</a><br/>
  &nbsp; - On at present, times vary &ndash; the Lion In Winter and The Merchant of Venice<br/>
  &nbsp; - Starting July 8 &ndash;The Two Gentlemen of Verona<br/>
  &nbsp; - Thursdays July 5 through August 9 - Heifetz Celebrity Series &ndash; bringing Carnegie Hall to Staunton.</p>
<p>
  <em>Northern Virginia </em></p>
<p>
  Wolf Trap, Vienna -- 1-877-WOLFTRAP or <a href="http://www.wolftrap.org">http://www.wolftrap.org/</a><br/>
  &nbsp; - Various artists and times through the summer</p>
<p>
  <em>Washington D.C.</em></p>
<p>
  The Kennedy Center -- 202-467-4600 or <a href="http://www.kennedy-center.org">http://www.kennedy-center.org/</a><br/>
  &nbsp; - July 10-29 &ndash; The Addams Family musical<br/>
  &nbsp; - July 5-8 The Paris Opera Ballet dancing Gisell</p>
<hr/>
<h4>
  COMMITTEE REPORTS</h4>
<h5>
  July 19 Meeting</h5>
<table class="table table-striped table-bordered table-condensed table-hover">
  <tbody>
  <tr>
    <td>
      Attendance: Chair- Grover J.
    </td>
  </tr>
  <tr>
    <td>
      Bingo: Co-Chair; Margaret K. &amp; Pattie H
    </td>
  </tr>
  <tr>
    <td>
      Fireman&#39;s Parade &amp; Christmas Parade. Co-Chair Patti H. and Bo H.
    </td>
  </tr>
  <tr>
    <td>
      Golf Tournament: Chair - Ron B.
    </td>
  </tr>
  <tr>
    <td>
      Grants: Chair- Cathy Z. &amp; Ron Z.
    </td>
  </tr>
  <tr>
    <td>
      Membership &amp; Retention: Chair- Sharon B.
    </td>
  </tr>
  <tr>
    <td>
      Photographer: Chair - Ken K.
    </td>
  </tr>
  <tr>
    <td>
      Programs: Chair- Trish P.
    </td>
  </tr>
  <tr>
    <td>
      Safety Town: Chair- June M.
    </td>
  </tr>
  <tr>
    <td>
      Telephone: Chair - Carol M.
    </td>
  </tr>
  <tr>
    <td>
      Valley Voice: Chair- Ed B.
    </td>
  </tr>
  <tr>
    <td>
      Visitation: Chair - Jan L. &amp; Dick L.
    </td>
  </tr>
  </tbody>
</table>
<h4>
  FINANCIAL REPORT</h4>
<p>
  The following Grants were paid in May:&nbsp;Kids Harbor Preschool&nbsp;190.00;&nbsp;EAUS $2,500.00: East Rockingham
  Senior Center $2.000, and &nbsp;Memorial Planting &nbsp;$110.00.</p>
<table class="table table-striped table-bordered table-condensed table-hover">
  <col style="width:30%">
  <col style="width:20%">
  <col style="width:30%">
  <col style="width:20%">
  <thead>
  <tr>
    <th>
      Activities
    </th>
    <th>
      &nbsp;</th>
    <th>
      Administration
    </th>
    <th>
      &nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Balance April 30, 2012
    </td>
    <td>
      $ 15,095.95
    </td>
    <td>
      Balance April 30, 2012
    </td>
    <td>
      $ 1,138.74
    </td>
  </tr>
  <tr>
    <td>
      Bingo Income
    </td>
    <td>
      3,133.81
    </td>
    <td>
      Refreshment Income
    </td>
    <td>
      232.06
    </td>
  </tr>
  <tr>
    <td>
      LOVF Income
    </td>
    <td>
      180.00
    </td>
    <td>
      Tail Twister Income
    </td>
    <td>
      62.00
    </td>
  </tr>
  <tr>
    <td>
      Golf Income
    </td>
    <td>
      1,845.00
    </td>
    <td>
      Meals Expense
    </td>
    <td>
      -161.14
    </td>
  </tr>
  <tr>
    <td>
      Progressive Income
    </td>
    <td>
      800.00
    </td>
    <td>
      Balance May 31, 2012
    </td>
    <td>
      $1,271.66
    </td>
  </tr>
  <tr>
    <td>
      Bingo Expense
    </td>
    <td>
      - 1,845.00
    </td>
    <td>
      &nbsp;</td>
    <td>
      &nbsp;</td>
  </tr>
  <tr>
    <td>
      Golf Expense
    </td>
    <td>
      - 587.97
    </td>
    <td>
      DUES
    </td>
    <td>
      &nbsp;</td>
  </tr>
  <tr>
    <td>
      LOVF Expense
    </td>
    <td>
      - 190.00
    </td>
    <td>
      ARE
    </td>
    <td>
      &nbsp;</td>
  </tr>
  <tr>
    <td>
      Grants Expense
    </td>
    <td>
      -4,800.00
    </td>
    <td>
      DUE
    </td>
    <td>
      &nbsp;</td>
  </tr>
  <tr>
    <td>
      Misc. Expense
    </td>
    <td>
      - 14.80
    </td>
    <td>
      &nbsp;</td>
    <td>
      &nbsp;</td>
  </tr>
  <tr>
    <td>
      Balance&nbsp;May 31, 2012
    </td>
    <td>
      $ 14,124.34
    </td>
    <td>
      &nbsp;</td>
    <td>
      &nbsp;</td>
  </tr>
  </tbody>
</table>
<hr/>
