<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">  <%= link_to (image_tag("lionlogo_2c.png", :alt => "The McGaheysville-Massanutten Lions Club", :size => "55x55", :class => "center logo")), root_path %></div>
        <div class="span8"><h1 class="head-title"><%= "The McGaheysville-Massanutten Lions Club".upcase %></h1></div>
        <div class="span2">  <%= render "layouts/navigation" %></div>
      </div>
    </div>
  </div>
</div>